<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Horário</title>

    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/enviado.css">
</head>
<body>
    <section>
        <h1>Agendamento Confirmado!</h1>
        <img src="./img/certo.gif"></img>
        <p>Oii, {{nomeCliente}}! Seu horário foi marcado para {{diaMarcado}}-feira ás {{horaMarcada}}. Esperamos por você!</p>
    </section>
</body>
</html>